<ion-view style="" title="Configuración">
    <ion-content class="has-header" padding="'true'">
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label">Dirección IP:</span>
                <input placeholder="127.0.0.1" type="text">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Puerto:</span>
                <input placeholder="80" type="text">
            </label>
            <div style="height: 100px;" class="spacer"></div>
        </form>
        <button style="" class="button button-stable button-block ">Guardar</button>
    </ion-content>
</ion-view>