<ion-view style="" title="{{getFolioActual()}}">
    <ion-content class="has-header" overflow-scroll="true" padding="'true'">
        <form style="" class="list">
            <ion-radio style="">Continuar</ion-radio>
            <ion-radio style="">Pausar</ion-radio>
            <ion-radio style="">Llegada con cliente</ion-radio>
            <ion-radio style="">Entrega exitosa</ion-radio>
            <ion-radio style="">Excepción de entrega</ion-radio>
        </form>
        <form style="" class="list"></form>
        <div style="" class="button-bar"></div>
        <button style="" class="button button-balanced button-block ">Enviar</button>
    </ion-content>
</ion-view>