<ion-view style="" title="Folios">
    <ion-content class="has-header" padding="'true'">
        <ion-list style="" ng-if="isLogged()">
           	<ion-item ng-repeat="folio in folios" href="#/app/folios/{{folio.folio}}"
           		ng-click="setFolioActual('{{folio.folio}}')">
           		{{folio.folio}}
           	</ion-item>
           	<div class="card" ng-if="folios.length == 0">
           		<div class="item">
           			No hay folios para este usuario.
           		</div>
           	</div>
        </ion-list>
    </ion-content>
</ion-view>